# GitHub App used for Launchpad repository publishing
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_INSTALLATION_ID=
GITHUB_ORG=IBA-Launchpad
GITHUB_REPO=launchpad

# At least 32 random characters
SESSION_SECRET=
